<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>
  <system.serviceModel>
    <diagnostics>
      <messageLogging maxSizeOfMessageToLog="5000000" logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="5000000" />
    </diagnostics>
    --><!--<client>
      <endpoint address="http://localhost:8080/Ekahau4QueryService" binding="wsHttpBinding"
                bindingConfiguration="nosecure" contract="Scala.Core.IQueryService" name="Ekahau4Engine1_QueryServiceClient" />
    </client>--><!--
    <bindings>
      <wsHttpBinding>
        <binding name="nosecure" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="5000000" maxReceivedMessageSize="5000000" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="5000000"  />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="nosecure" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="5000000" maxReceivedMessageSize="5000000" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="5000000"  />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
      <mexHttpBinding>
        <binding name="nosecure" />
      </mexHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Verbose, ActivityTracing" propagateActivity="true" >
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "wcfLog.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <activerecord>
    <config>
      <add key="hibernate.connection.driver_class" value="NHibernate.Driver.MySqlDataDriver" />
      <add key="hibernate.dialect" value="NHibernate.Dialect.MySQLDialect" />
      <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="hibernate.connection.connection_string" value="server=localhost;user id=root;password=Scala93849038;persist security info=True;database=scala" />
    </config>
  </activerecord>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <targets>
      <target name="trace" xsi:type="Trace"/>
      <target name="console" xsi:type="Console" layout="${newline} ${callsite}: ${message} ${newline}"/>
      <target name="eventlog" xsi:type="EventLog" source="Scala" log="Scala" layout="${callsite}: ${message} ${newline} ${newline} ${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="trace, eventlog" />
      <logger name="infologger" minlevel="Info" writeTo="trace, console, eventlog" />
    </rules>
  </nlog>-->

</configuration>
<!--<Engine EngineId="thuis" PassWord="admin" UserName="admin" Port="8550" Ip="192.168.2.30" Contract="" />-->
<!--<Engine EngineId="EA_TAG" PassWord="Scala93849038" UserName="Scala" Port="8550" Ip="10.23.1.4" Contract="" /> </Engines>-->
<!--copy "$(SolutionDir)Scala.Core\App.config" "$(ProjectDir)App.config"-->
<!--<section name="Ekahau4Settings" type="Scala.Core.Configuration.GenericEngineConfiguration.EngineSettingsConfigSection`1[[Scala.Core.Configuration.GenericEngineConfiguration.EngineElementConfigurationCollection`1[[Scala.Engines.Ekahau4.Configuration.Ekahau4EngineElementConfiguration, Scala.Engines.Ekahau4]], Scala.Core]], Scala.Core"/>-->
<!--<engines>
    <engine>
      <engine name="Ekahau4Engine1">
        <endpoint name="Ekahau4_1_QueryServiceClient" type="IQueryable"></endpoint>
      </engine>
    </engine>
  </engines>-->