<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MexGet">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="nosecure" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="5000000" maxReceivedMessageSize="5000000" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="5000000"  />
          <security mode="None" />
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="nosecure" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="5000000" maxReceivedMessageSize="5000000" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="5000000"  />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
      <mexHttpBinding>
        <binding name="nosecure" />
      </mexHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MexGet" name="Elab.Rtls.Engines.WsnEngine.WsnEngineService">
        <endpoint address="QueryService" binding="wsHttpBinding" bindingConfiguration="nosecure"
           name="WsnEngineQueryServiceEndpoint" contract="Scala.Core.IQueryService" />
        <endpoint address="MapService" binding="wsHttpBinding" bindingConfiguration="nosecure"
           name="WsnEngineMapServiceEndpoint" contract="Scala.Core.IMapService" />
        <endpoint address="TagInformationService" binding="wsHttpBinding" bindingConfiguration="nosecure"
            name="WsnEngineTagInformationServiceEndpoint" contract="Scala.Core.ITagInformationService" />
        <endpoint address="EventService" binding="wsDualHttpBinding" bindingConfiguration="nosecure"
           name="WsnEngineEventServiceEndpoint" contract="Scala.Core.IEventService" />
        <endpoint address="MEX" binding="mexHttpBinding" bindingConfiguration="nosecure"
           name="MetadataEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7070/WsnEngine/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>